{% extends 'hospital/receptionist_base.html' %}{% load static %} {% block content %}{% load widget_tweaks %}

<div class="row ">
    <div class="col col-12 col-md-6 col-xl-4 ">
        <div class="card animated fadeInUp delay-03s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-doctor "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Doctor Data</h6>
                        <div class="count text-primary fs-20 "><a href="/Receptionist-view-doctor ">View Data</a></div>
                        <p>Doctor Data</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-4 ">
        <div class="card animated fadeInUp delay-02s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-doctor "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Register Doctor</h6>
                        <div class="count text-primary fs-20 "><a href="/Receptionist-add-doctor ">Register</a></div>
                        <p>Register Doctor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-4 ">
        <div class="card animated fadeInUp delay-01s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-first-aid-alt "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Approve Doctor</h6>
                        <div class="count text-primary fs-20 "><a href="/Receptionist-approve-doctor ">Approve</a></div>
                        <p>Approve Doctor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-4 ">
        <div class="card animated fadeInUp delay-01s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-first-aid-alt "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Doctor and Departments</h6>
                        <div class="count text-primary fs-20 "><a href="/Receptionist-view-doctor-specialisation ">Show</a></div>
                        <p>respective Departmants</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock content %}