{% extends 'hospital/receptionist_base.html' %}{% load static %} {% block content %}{% load widget_tweaks %}


<div class="card mb-0 ">
    <div class="card-header ">
        Doctors and their respective Departments
    </div>
    <div class="card-body ">
        <div class="table-responsive ">
            <table class="table table-hover ">
                <thead>
                    <tr>

                        <th scope="col ">Department</th>
                        <th scope="col ">Doctor Name</th>
                        <th scope="col ">Contacts</th>

                    </tr>
                </thead>

                <tbody>
                    {% for d in doctors %}
                    <tr>

                        <td>

                            <strong>{{d.department}}</strong>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{d.get_name}}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui-cell-phone p-0 me-2 "></span>{{d.mobile}}
                            </div>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}