{% extends 'hospital/receptionist_base.html' %}{% load static %} {% block content %}{% load widget_tweaks %}

<div class="card mb-0 ">
    <div class="card-header ">
        Appointments/scheduled visits
    </div>
    <div class="card-body ">
        <div class="table-responsive ">
            <table class="table table-hover ">
                <thead>
                    <tr>

                        <th scope="col ">Doctor Name</th>
                        <th scope="col ">Patient Name</th>
                        <th scope="col ">Description</th>
                        <th scope="col ">Date</th>

                    </tr>
                </thead>

                <tbody>
                    {% for a in appointments %}
                    <tr>

                        <td>

                            <strong> {{a.doctorName}}</strong>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{a.patientName}}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{a.description}}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{a.appointmentDate}}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}