 {% extends 'hospital/doctorbase.html' %}{% load static %} {% block content %}{% load widget_tweaks %}
<div class="row ">
    <div class="col col-12 col-md-6 col-xl-6 ">
        <div class="card animated fadeInUp delay-03s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-sub-listing "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Your Patient List</h6>
                        <div class="count text-primary fs-20 ">
                            <a href="/doctor-view-patient">View Your Patient data </a>
                        </div>
                        <p>Patient List</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-12 col-md-6 col-xl-6 ">
        <div class="card animated fadeInUp delay-02s bg-light ">
            <div class="card-body ">
                <div class="row align-items-center ">
                    <div class="col col-5 ">
                        <div class="icon p-0 fs-48 text-primary opacity-50 icofont-sign-out "></div>
                    </div>
                    <div class="col col-7 ">
                        <h6 class="mt-0 mb-1 ">Your Discharged Patients</h6>
                        <div class="count text-primary fs-20 ">
                            <a href="/doctor-view-discharge-patient">View Discharged Patients
                            </a>
                        </div>
                        <p>Your Discharged Patients </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}