 {% extends 'hospital/doctorbase.html' %}{% load static %} {% block content %}{% load widget_tweaks %}

<div class="card mb-0 ">
    <div class="card-header ">
        Your Total Patient List
    </div>
    <div class="card-body ">
        <div class="table-responsive ">
            <table class="table table-hover ">
                <thead>
                    <tr>

                        <th scope="col ">Profile</th>
                        <th scope="col ">Name</th>
                        <th scope="col ">Type</th>
                        <th scope="col ">symptoms</th>
                        <th scope="col ">Mobile</th>
                        <th scope="col ">Transfer</th>
                    </tr>
                </thead>

                <tbody>
                    {% for p in patients %}
                    <tr>
                        <td> <img src="{% static p.profile_pic.url %} " alt="Profile Pic " height="40px " width="40px " /></td>

                        <td>

                            <strong>{{p.get_name}}</strong>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{p.classification}}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui "></span>{{p.symptoms}}
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center nowrap text-primary ">
                                <span class="icofont-ui-cell-phone p-0 me-2 "></span>{{p.mobile}}
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url 'doc-update-patient' p.id  %}"><span class="glyphicon glyphicon-edit"></span></a>

                        </td>

                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}